@page "/forgot-password"



<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>FCI</b> Middleware</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

            <EditForm Model="recoveryRequestViewModel" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="mb-3">
                    <InputText id="email" type="email" @bind-Value="recoveryRequestViewModel.Email" class="form-control" placeholder="Email"></InputText>
                    <ValidationMessage For="@(()=>recoveryRequestViewModel.Email)"></ValidationMessage>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark btn-block">Request new password</button>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row">
                    <div class="col-8">
                        @* <ValidationSummary></ValidationSummary> *@
                        @if (HayErrores)
                        {
                            <p class="text-center text-danger">@MensajeErrores</p>
                        }
                    </div>
                </div>
            </EditForm>

            <p class="mt-3 mb-1">
                <NavLink class="text-center" href="home">
                    Login
                </NavLink>
            </p>
            <p class="mb-0">
                <NavLink class="text-center" href="register">
                    Register a new membership
                </NavLink>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->
